<div class="background-image">
  <app-menu></app-menu>
  <div class="container">
    <img src="../../assets/TRIUNFO LOGO ALPHA.png" alt="Logo Triunfo" class="logo" />

    <div *ngIf="enderecoAtual" class="resultado">
      <label>
        Endereço atual: <strong>{{ enderecoAtual }}</strong>
      </label>
    </div>

    <button (click)="gravarEndereco()" class="btn btn-success">
      Gravar Endereço
    </button>

    <button (click)="obterEnderecoAtual()" class="btn btn-secondary">
      Obter Endereço Atual
    </button>

    <ul>
      <li *ngFor="let endereco of enderecos">
        <span>{{ endereco }}</span>
        <div>
          <button (click)="editarEndereco(endereco)" class="btn-action">
            <span class="material-icons">edit</span>
          </button>
          <button (click)="removerEndereco(endereco)" class="btn-action">
            <span class="material-icons">delete</span>
          </button>
        </div>
      </li>
    </ul>
    <div class="fixed-button-container">
      <button (click)="excluirTodosOsPontosEFotos()" class="btn btn-danger">
        Excluir Todos os Pontos e Fotos
      </button>
    </div>
  </div>
</div>