<div class="register-background">
    <app-menu></app-menu>
    <div class="register-container">
      <h1 class="register-title">Registrar Ponto</h1>
  
      <div class="profile-photo-container">
        <img *ngIf="!showCamera && !fotoUrlEntrada"
          src="assets/foto.png"
          alt="Foto do Usuário"
          class="profile-photo"
          (click)="toggleCamera()" />
        <img *ngIf="!showCamera && fotoUrlEntrada"
          [src]="fotoUrlEntrada"
          alt="Foto Capturada"
          class="profile-photo"
          (click)="toggleCamera()" />
        <webcam *ngIf="showCamera"
          [trigger]="trigger"
          (imageCapture)="handleImage($event)"
          [width]="320"
          [height]="240">
        </webcam>
        <button *ngIf="showCamera" (click)="captureImage()">Capturar Foto</button>
      </div>
  
      <div class="register-item">
        <input [(ngModel)]="nome" placeholder="Nome do Usuário" required readonly />
        <label>Nome</label>
      </div>
  
      <div class="register-item">
        <input [(ngModel)]="cargo" placeholder="Cargo" required readonly />
        <label>Cargo</label>
      </div>
  
      <div class="register-item">
        <input [value]="pontoLocal?.horarioEntrada" placeholder="Horário de Entrada" readonly />
      </div>
  
      <div class="register-item">
        <input [value]="pontoLocal?.horarioSaida" placeholder="Horário de Saída" readonly />
      </div>
  
      <button class="register-button" (click)="salvarEntrada()" *ngIf="!mostrarSaidaInput">
        Salvar Entrada
      </button>
  
      <button class="register-button" (click)="registrarSaida()" *ngIf="mostrarSaidaInput">
        Registrar Saída
      </button>
    </div>
  </div>