<app-menu></app-menu>

<div class="login-background">
    <div class="login-container">
        <img src="assets/TRIUNFO LOGO ALPHA.png" alt="Logo Triunfo" class="logo" />

        <h2>Calculadora de RPM</h2>

        <div class="input-group">
            <label for="rosca">RPM Atual:</label>
            <input id="rosca" [(ngModel)]="rosca" type="number" step="any" placeholder="Insira o RPM" />
        </div>

        <div class="input-group">
            <label for="pesoBobina">Peso da Bobina:</label>
            <input id="pesoBobina" [(ngModel)]="pesoBobina" type="number" step="any" placeholder="Insira o peso da bobina (kg)" />
        </div>

        <div class="input-group">
            <label for="pesoBase">Selecione a Bobina:</label>
            <select id="pesoBase" [(ngModel)]="pesoBaseSelecionado">
                <option value="" disabled selected>Selecione uma bobina</option>
                <option *ngFor="let bobina of bobinas" [value]="bobina._id">
                    {{ bobina.nome }} - Peso Base: {{ formatarPeso(bobina.peso) }} kg
                </option>
            </select>
        </div>

        <button (click)="calcularAjuste()" class="login-button">Calcular</button>

        <div *ngIf="resultado !== null" class="resultado">
            <p>
                A rosca deve ser ajustada para <strong>{{ getResultadoFormatado() }}</strong> RPM.
            </p>
        </div>
    </div>
</div>